apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: database
type: Opaque
stringData:
  POSTGRES_USER: "pguser"            # change if you want
  POSTGRES_PASSWORD: "pgpassword"    # change at runtime
  POSTGRES_DB: "myappdb"
